* {
  margin: 0;
  padding: 0;
}

Body
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

Nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #3e3f3e;

}

.boton1:hover {
  border: 1px solid #ffffff;
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
}

.boton1{
  text-decoration: none;
  padding-right: 5px;
}

.boton2{
  border: 2px solid #0000ff;
  border-radius: 5px;
  text-decoration: none;
}

.boton2:hover {
  background-color: #000000;
}

.boton3{
  border: 1px solid;
  padding: 5px;
  background-color:  #3e3f3e;
  border-radius: 5px;
  text-decoration: none;
}

Form, h3, input, label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

Button {
  margin-top: 10px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5)), url(/src/assets/img/headerpizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  color: white;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home {
  background-color: #3e3f3e;
}

Footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 0 5px 0;
}

Footer h6{
  font-size: 14px;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.PizzaCart{
  width: 600px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.PizzaCart img{
  width: 100px;
  border-radius: 3px;
  margin: 5px;
}

.Cart-Botones {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.Card-Container{
  text-align: center;
}

th, td{
  font-size: 14px;
  width: 25%;
}

.Card-Container Table {
  width: 600px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Card-Container Button{ 
  font-size: 14px;
}

